body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 20px;
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 20px;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 25px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

@media screen and (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-toggle:checked + .nav-toggle-label + .nav-links {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
    }

    .products-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main-image{
        width: 80%;
    }

    #produto-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #produto-descricao{
        width: 70vw;
        height: 58vh;
    }
}



.image-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58vh; /* Ajusta a altura do contêiner para a altura da viewport */
    overflow: hidden; /* Previne que a imagem exceda o contêiner */
}

.shadowed-image {
    max-height: 100%; /* Faz com que a altura da imagem se ajuste à do contêiner */
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5), -10px 0 15px -5px rgba(0, 0, 0, 0.5); /* Aplica sombras nas laterais */
}

.carrosel-imagens{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-imagens {
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card-imagens img{
    width: 100%;
    height: auto;
}

.card-imagens img:hover{
    transition: transform 0.3s ease; 
    transform: scale(1.1);
    cursor: pointer;
}


.produto-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.produto-descricao{
    margin-top: 2vh;
    width: 30vw;
    height: 58vh;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.adicionar-carrinho{
    display: flex;
    justify-content: start;
}
.quantity-selector {
    display: flex;
    justify-content: center; /* Centraliza os botões e o input horizontalmente */
    align-items: center; /* Alinha verticalmente */
    padding: 10px; /* Espaço entre os botões/input e a borda do seletor */
    gap: 10px; /* Espaço entre o botão de decremento, o input e o botão de incremento */
   
    margin-top: 5vh;
    border: 0.2px solid black;
}

.quantity-selector button {
    background-color: white;
    padding: 5px 10px; /* Espaço interno do botão */
    cursor: pointer;
    font-size: 16px; /* Ajusta o tamanho do texto dentro do botão */
    border: none;
}

.quantity-selector input {
    width: 50px; /* Largura do campo de input, ajuste conforme necessário */
    text-align: center; /* Alinha o texto no centro do input */
    padding: 5px; /* Espaço interno do input */
    font-size: 16px; /* Ajusta o tamanho do texto dentro do input */
    border: none;
}

#carrinho-selector{
    background-color: black;
    color: white;
}

#adicionar-carrinho {
    background-color: black;
    color: white;
}

/* Estilo do Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica no lugar */
    z-index: 2; /* Sobre os outros itens */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Pode ser mais ou menos, dependendo do tamanho da tela */
    text-align: center;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    cursor: pointer;
  }

  
/* footer */


.site-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.nav-links-footer a, .social-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.social-links img {
    width: 24px; /* Adjust the size of the icons as needed */
    height: auto;
}

/* Optional: Add responsiveness */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .nav-links-footer, .social-links {
        margin-bottom: 10px;
    }

    .nav-links-footer a, .social-links a {
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

  