body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 20px;
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 20px;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 25px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-toggle:checked + .nav-toggle-label + .nav-links {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
    }

    .products-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72vh; /* Ajusta a altura do contêiner para a altura da viewport */
    overflow: hidden; /* Previne que a imagem exceda o contêiner */
}

.shadowed-image {
    max-height: 100%; /* Faz com que a altura da imagem se ajuste à do contêiner */
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.5), -10px 0 15px -5px rgba(0, 0, 0, 0.5); /* Aplica sombras nas laterais */
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.buy-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
